@model WebApp.Models.Employee

<html>
    <head>
        <title>@ViewBag.PageTitle</title>
    </head>
    <body>
        <h3>@ViewBag.PageTitle</h3>

        <div>
            Name: @Model.Name
        </div>
         <div>
             Email: @Model.Email
         </div>
         <div>
             Department: @Model.Department
         </div>
    </body>
</html>