@model IEnumerable<Employee>
@{
    ViewBag.Title = "Employee List";
}
<h3>All Employees</h3>


<div class="card-deck">
    @foreach(var employee in Model)
    {
        <div class="card m-3">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div> 
            <img class="card-img-top" style="height:350px; width:350px" src="~/images/pic10.jpg" />
            <div class="card-footer text-center">
                @*HTML Tag Helper Example
                Html.ActionLink("View", "Details", new { id = @employee.Id})*@ 
                @* Just generated link for href that can be used in link with other css
                <a href="@Url.Action("Details", "Home", new { id = @employee.Id})" class="btn btn-success">Show</a>
                *@
                @*html anchor tag
                <a href="/Home/Details/@employee.Id" class="btn btn-success">View</a>
                *@

                @*Latest Tag Helpers*@
                <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.Id" class="btn btn-success">View</a>
                <a href="" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>